<p-panel [header]="title">
  <ng-template pTemplate="icons">
    <app-buttons-header
      [buttons]="[{ icon: 'pi pi-arrow-left', link: '/entries' }]"
    ></app-buttons-header>
  </ng-template>

  <form [formGroup]="resourceForm" (submit)="submitForm()" class="mt-3">
    <div class="formgrid grid">
      <div class="field col-12 md:col-2">
        <label for="id" class="required">Código</label>
        <input
          id="id"
          formControlName="id"
          type="number"
          min="0"
          step="1"
          pInputText
        />
        <app-form-field-error
          [form-control]="resourceForm.get('id')"
        ></app-form-field-error>
      </div>
      <div class="field col-12 md:col-10">
        <label for="name" class="required">Nome</label>
        <input id="name" formControlName="name" type="text" pInputText />
        <app-form-field-error
          [form-control]="resourceForm.get('name')"
        ></app-form-field-error>
      </div>
      <div class="field col-12 md:col-6">
        <label for="categoryId" class="required">Categoria</label>
        <p-dropdown
          [options]="categoryList"
          formControlName="category"
          placeholder="Selecione a categoria do lançamento"
          optionLabel="name"
          dataKey="id"
          [showClear]="true"
        ></p-dropdown>
        <app-form-field-error
          [form-control]="resourceForm.get('category')"
        ></app-form-field-error>
      </div>
      <div class="field col-12 md:col-6">
        <label for="date" class="required">Data do lançamento</label>
        <p-calendar
          inputId="date"
          formControlName="date"
          dateFormat="dd/mm/yy"
          [locale]="ptBR"
          placeholder="31/12/1900"
          [showIcon]="true"
          [showButtonBar]="true"
        ></p-calendar>
        <app-form-field-error
          [form-control]="resourceForm.get('date')"
        ></app-form-field-error>
      </div>
      <div class="field col-12">
        <label for="desc">Descrição</label>
        <textarea
          id="desc"
          formControlName="desc"
          type="text"
          rows="3"
          pInputTextarea
        ></textarea>
      </div>
      <div class="field col-12 md:col-5">
        <label for="type" class="required">Tipo</label>
        <p-dropdown
          [options]="entryTypes"
          formControlName="type"
          placeholder="Selecione o tipo do lançamento"
          optionLabel="name"
          dataKey="value"
          [showClear]="true"
        ></p-dropdown>
        <app-form-field-error
          [form-control]="resourceForm.get('type')"
        ></app-form-field-error>
      </div>
      <div class="field col-12 md:col-5">
        <label for="amount" class="required">Valor</label>
        <p-inputNumber
          inputId="amount"
          formControlName="amount"
          placeholder="00,00"
          mode="currency"
          locale="pt-BR"
          currency="BRL"
        ></p-inputNumber>
        <app-form-field-error
          [form-control]="resourceForm.get('amount')"
        ></app-form-field-error>
      </div>
      <div class="field col-12 md:col-2">
        <label for="paid">Pago</label><br />
        <div class="mt-1">
          <p-inputSwitch inputId="paid" formControlName="paid"></p-inputSwitch>
        </div>
      </div>
    </div>

    <app-form-footer
      [onReset]="onReset.bind(this)"
      [isSubmiting]="isSubmiting"
      [resourceForm]="resourceForm"
    ></app-form-footer>
  </form>
</p-panel>
